.placeholder {
  margin: 0 auto;
  //max-width: 200px;
  //min-height: 100px;
  background-color: #eeeeee;
}

@keyframes placeHolderShimmer{
  0%{ background-position: -650px 0; }
  100%{ background-position: 650px 0; }
}

.animated-background {
  animation-duration: 1.35s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8; // Fallback
  background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
  background-size: 1300px; // Animation Area
  height: 100%;
  position: relative;
}
