.basic-placeholder {
  list-style: none;
  margin: 0;
  padding: 0;

  &__row {
    display: flex;
    flex-direction: row;
  }

  .profile-info {
    margin: 0 auto;
    text-align: center;
  }

  .character-photo {
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
    //padding: 30px;
    width: 90%;
    height: 650px;
  }

  .character-name {
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #ffffff;
    //margin-bottom: 40px;
    //padding: 15px;
    width: 100%;
    height: 50px;

    p {
      -webkit-font-smoothing: antialiased;
      font-size: 1.5rem;
      line-height: 0.7rem;
      letter-spacing: .1px;
      color: #545455;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.character-profile-1 {
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 370px;
  width: 100%;
  margin-bottom: 10px;
}

.character-profile-2 {
  border: 1px solid rgba(0, 0, 0, 0.12);
  height: 175px;
  width: 100%;
  margin-bottom: 10px;
}

@media (max-width: 539px) {
  .basic-placeholder {
    &__row {
      flex-direction: column;
    }

    .character-photo {
      width: 100%;
      height: 480px;
    }

    .char-image {
      //height: 300px;
      width: 100%;
    }

    .character-name {
      border: 1px solid rgba(0, 0, 0, 0.12);
      //margin-bottom: 40px;
      //padding: 0;
      width: 100%;

      p {
        font-size: 16px;
        line-height: 0.7rem;
        letter-spacing: .1px;
        color: #353738;
        margin-bottom: 10px;
      }
    }
  }

  .character-profile-1 {
    display: none;
  }
}
