body {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  background-color: #d6dae04d;

  .mdc-top-app-bar--fixed-adjust {
    padding: 64px 10px 20px;
    width: -webkit-fill-available;
    margin-bottom: 20px;
    overflow-y: auto;
  }

  .top-app-bar-fix-adjust {
    display: flex;
    width: 100%;
  }

  @media (min-width: 768px) {
    .dashboard .dashboard-nav {
      background-color: #fff;
      min-height: 4rem;
      border-bottom: 1px solid #dadce0;
    }

    .mdc-top-app-bar {
      background-color: #fff;
      color: #fff;
      display: flex;
      position: fixed;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      width: 100%;
      z-index: 10;

      &__title {
        color: rgba(0, 0, 0, 0.87);
      }

      &__navigation-icon {
        color: rgba(0, 0, 0, 0.87) !important;
      }
    }

    .topbar-divider {
      margin-left: 16px;
      margin-right: 8px;
    }

    .topbar-lockup-divider {
      border-left-style: solid;
      border-left-width: 1px;
      color: #dadce0;
      content: '';
      height: 32px;
      margin-left: 118px;
      margin-right: 90px;
      width: 1px;
    }
  }
}

@media (max-width: 539px) {
  .mdc-top-app-bar {
    background-color: #d6dae04d;
    color: #000000;

    &__title {
      color: rgba(6, 6, 6, 0.81);
      margin-left: 20px;
      padding-left: 0;
      padding-bottom: 0;
    }

    &__navigation-icon {
      color: rgba(99, 99, 99, 0.81) !important;
    }
  }

  .MuiTypography-h6 {
    font-size: 0.8rem !important;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.0075em;
  }

  .mdc-drawer .mdc-list-item {
    margin: 8px 8px 8px 0;
  }

  .mdc-list-item__text {
    margin-left: 8px;
  }

  .dashboard-mobile-nav {
    background-color: #d6dae04d;
    color: #000000;
    min-height: 4rem !important;
    justify-content: center;
  }

  .topbar-lockup-divider {
    display: none;
  }

  .page-content {
    display: block;
    width: 100%;
    font-size: 10px;

    &__navigation {
      font-family: 'Product Sans', sans-serif !important;
      font-size: 10px;
      display: flex;
      background-color: rgb(242, 242, 242);
      z-index: 99;
      position: fixed;
      bottom: 0;
      width: 100% !important;
      border-top: solid 0.8px #dadce0;;
    }
  }
}

.page-content {
  &__navigation {
    display: none;
  }
}

@media (max-width: 360px) {
  .mdc-top-app-bar {
    &__title {
      margin-left: 0;
    }

    &__navigation-icon {
      color: rgba(234, 239, 245, 0.81) !important;
    }
  }
}

