.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
  min-width: 0;
  z-index: 1;
  justify-content: center;

  p {
    margin: 16px;
    color: #1967d2;
    cursor: pointer
  }
}
