.MuiBottomNavigationAction-root.Mui-selected {
  color: #1967D2 !important;
  padding-top: 6px;
}

.MuiBottomNavigationAction-label {
  opacity: 1;
  transition: font-size 0.2s, opacity 0.2s;
  font-family: Google Sans, Roboto, Helvetica Neue, sans-serif !important;
  font-size: 0.65rem !important;
  font-weight: normal;
  transition-delay: 0.1s;
}

.MuiBottomNavigationAction-wrapper {
  a {
    color: rgba(0, 0, 0, 0.54);

    .MuiBottomNavigationAction-root.Mui-selected {
      color: #1967D2 !important;
      padding-top: 6px;
    }
  }
}
