/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #666666;
}

a {
  color: #1967d2;;
  &:hover, &:active, &:focus {
    color: #1967d2;;
    outline: none;
    text-decoration: none;
  }
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Product Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.logo {
  display: flex;
  height: 30px;
  color: #f1f1f1;
  vertical-align: middle;
  margin: 71px auto auto auto;

  h2 {
    font-weight: 400;
    font-size: 30px;
    margin-left: 10px;
  }

  img {
    height: 70px;
    width: 70px;
  }
}

.cover {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 20px 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../../assets/images/home_cover.jpg) no-repeat center fixed;
  //background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../../assets/images/home_cover.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  //background-color: #0c0c0c;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .hero-info {
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  h1 {
    margin: 30px 0 10px 0;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: #fff;
  }
  h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
